<div id="menu" class="bordered-div">
  <p><%= link_to "🔮 #{@logged_in_user.username}", home_path %></p>
  <p>✴️<%= @logged_in_user.tokens %> tokens</p>
  <%= button_to "Logout", logout_path, method: :delete %>
  <hr>
  <h3>Links</h3>
  <p><%= link_to "Home", '/' %></p>
  <p><%= link_to "My discoveries", discoveries_path %></p>
  <p><%= link_to "All users", users_path %></p>
  <p><%= link_to "All spells", spells_path %></p>
  <p><%= link_to "All items", items_path %></p>
</div>
