<h1>Edit user information</h1>

<%= form_for(@logged_in_user) do |f| %>
  <%= f.label :gender %>
  <%= f.select :gender, [['Sorceress'], ['Warlock'], ['Otherkin']] %><br>

  <%= f.label :birthday %>
  <%= f.date_field :birthday %><br>

  <%= f.label :bloodtype %>
  <%= f.select :bloodtype, [['A'], ['B'], ['AB'], ['O']] %><br>

  <br><%= f.submit "Save" %>
<% end %>
