<h2>
  Hello, <%= @logged_in_user.username %>
</h2>

<p>Gender: <%= @logged_in_user.gender %></p>
<p>Birthday:
  <% if @logged_in_user.birthday %>
    <%= @logged_in_user.birthday.strftime("%B %d, %Y") %>
  <% end %>
</p>
<p>Bloodtype: <%= @logged_in_user.bloodtype %></p>

<%= button_to "Edit Profile", edit_user_path(@logged_in_user), method: :get %>

<% if @logged_in_user.possessions.empty? %>
  <h3>You have no items in your inventory!</h3>
<% else %>
  <h3>You have the following items:</h3>
  <ul>
    <% @logged_in_user.possessions.each do |p| %>
    <li>
      <div class="item-container">
        <div class="item">
          <%= link_to pluralize(p.quantity, p.item.name), p.item %>
        </div>

        <div class="item">
          <% if p.quantity > 1 %>
            <%= form_for(p, url: {controller: 'possessions', action: 'discard_one'}) do |f| %>
              <%= f.hidden_field :id, value: p.id %>
              <%= f.submit "Discard one" %>
            <% end %>
          <% end %>

          <%= form_for(p, url: {controller: 'possessions', action: 'discard_all'}) do |f| %>
            <%= f.hidden_field :id, value: p.id %>
            <%= f.submit "Discard all" %>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
<% end %>
<p><%= button_to "Purchase items", buyitem_path, method: :get %></p>

<h3>
  Active Spells
</h3>
<% if @logged_in_user.castings.empty? %>
  <p>You have no active spells!</p>
<% else %>
<ul>
  <% @logged_in_user.castings.each do |c| %>
  <li>
    <p><%= c.spell.name %> will finish at <%= c.finished_at %>.</p>
  </li>
  <% end %>
</ul>
<% end %>
