<h2>
  Welcome, <%= @logged_in_user.username %>!
</h2>

<p>Gender: <%= @logged_in_user.gender %></p>
<% if @logged_in_user.birthday %>
<p>Birthday: <%= @logged_in_user.birthday.strftime("%B %d, %Y") %></p>
<p>Sign: <%= @logged_in_user.birthday.zodiac_sign %></p>
<% end %>
<p>Bloodtype: <%= @logged_in_user.bloodtype %></p>

<%= button_to "Edit Profile", edit_user_path(@logged_in_user), method: :get %>

<% if @logged_in_user.possessions.empty? %>
  <h3>You have no items in your inventory!</h3>
<% else %>
  <h3>You have the following items:</h3>
  <ul>
    <% @logged_in_user.possessions.each do |p| %>
    <li>
      <div class="flex-horizontal">
        <div class="flex-child">
          <%= link_to pluralize(p.quantity, p.item.name), p.item %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <h3>You have <%= pluralize(@logged_in_user.tokens, "token") %>.</h3>
<% end %>
<p><%= button_to "Purchase items", items_path, method: :get %></p>


<% if @current_spells.empty? %>
  <h3>You are not casting any spells.</h3>
<% else %>
  <h3>You are casting...</h3>
  <ul>
    <% @ordered_spells = @current_spells.sort_by { |c| c.finished_at } %>
    <% @ordered_spells.each do |c| %>
    <li>
      <%= link_to c.spell.name, c.spell %>
      upon <%= c.subject_1 %><%= " and #{c.subject_2}" unless c.subject_2.empty? %>.
      It will be complete at <%= c.finished_at.strftime("%R on %D") %>.
    </li>
    <% end %>
  </ul>
<% end %>
<p><%= button_to "Cast a spell", spells_path, method: :get %></p>

<% if @old_spells.empty? %>
  <% if @current_spells.empty? %>
    <h3>You haven't cast any old spells, either.</h3>
  <% else %>
    <h3>You'll have old spells as soon as those finish.</h3>
  <% end %>
<% else %>
  <h3>Your old spells were...</h3>
  <ul>
    <% @old_spells.each do |c| %>
      <li>
        <%= link_to c.spell.name, c.spell %>
        upon <%= c.subject_1 %>
        <% if !c.subject_2.empty? %>
          and <%= c.subject_2 %>
        <% end %>
        on <%= c.created_at.strftime("%B %d, %Y") %>
      </li>
    <% end %>
  </ul>
<% end %>
