<h2>
  Hello, <%= @logged_in_user.username %>
</h2>

<p>Gender: <%= @logged_in_user.gender %></p>
<p>Birthday: <%= @logged_in_user.birthday %></p>
<p>Blood: <%= @logged_in_user.bloodtype %></p>

<%= button_to "Edit Profile", edit_user_path(@logged_in_user), method: :get %>

<h3>
  Active Spells
</h3>
<ul>
  <li>
    Placeholder
  </li>
  <li>
    Placeholder
  </li>
</ul>
