<h1>User page for <%= @user.username %>.</h1>

<h3><%= @user.username %> has the following items:</h3>

<ul>
  <% @user.possessions.each do |p| %>
  <li>
    <%= link_to pluralize(p.quantity, p.item.name), p.item %>
  </li>
  <% end %>
</ul>

<h3><%= @user.username %> has cast the following spells:</h3>

<ul>
  <% @user.spells.each do |s| %>
  <li>
    <%= link_to s.name, s %>
  </li>
  <% end %>
</ul>
