<!-- <h1>Purchase a new item</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_tag possessions_path do %>
  <%= text_field_tag :symbol %>
  <%= submit_tag "Purchase"%>
<% end %>

<p class="emoji" style="font-size:4em">
  <% if flash[:symbol] %>
    <%= flash[:symbol] %>
  <% end %>
</p> -->
