<h1>Spell page for <%= @spell.name %>.</h1>

<p>
  <%= @spell.description %>
</p>

<h3><%= @spell.name %> requires the following items:</h3>

<ul>
  <% @spell.recipes.each do |r| %>
  <li>
    <%= link_to pluralize(r.quantity, r.item.name), r.item %>
  </li>
  <% end %>
</ul>

<%= form_for(@casting, url: {controller: 'castings', action: 'create'}) do |f| %>
  <%= f.hidden_field :spell_id, value: @spell.id %>
  <%= f.submit "Cast this spell" %>
<% end %>
