<h1>Spell page for <%= @spell.name %></h1>

<p>
  <%= @spell.description %>
</p>

<% if @spell.binate %>
<p>
  This spell acts upon two targets.
</p>
<% end %>

<h3><%= @spell.name %> requires the following items:</h3>

<ul>
  <% @spell.recipes.each do |r| %>
  <li>
    <%= link_to pluralize(r.quantity, r.item.name), r.item %>
  </li>
  <% end %>
</ul>

<h3>Cast this spell</h3>

<% if @logged_in_user %>
  <%= form_for(@casting, url: {controller: 'castings', action: 'create'}) do |f| %>
    <%= f.hidden_field :spell_id, value: @spell.id %>
    Primary target: <%= f.text_field :subject_1 %><br>
    <% if @spell.binate %>
      Secondary target: <%= f.text_field :subject_2 %><br>
    <% end %>
    <%= f.submit "Cast", data: { confirm: "Are you sure? This action cannot be undone." } %>
  <% end %>
<% end %>
