<h1>Spell page for <%= @spell.name %></h1>

<p><strong>
  <%= @spell.description %>
</strong></p>

<% if @spell.binate %>
<p>
  This spell acts upon two subjects.
</p>
<% end %>

<% spell_props = @spell.duration_props %>
<% if spell_props[:duration] == 0 %>
  <p>
    It casts instantly.
  </p>
<% else %>
  <p>
    It casts in <%= spell_props[:duration].to_s %> <%= spell_props[:label] %>.
  </p>
<% end %>

<h3><%= @spell.name %> requires the following items:</h3>

<ul>
  <% @spell.recipes.each do |r| %>
  <li>
    <%= link_to pluralize(r.quantity, r.item.name), r.item %>
  </li>
  <% end %>
</ul>

<% if @logged_in_user %>
  <% if @logged_in_user.can_cast?(@spell) %>

    <h3>Cast this spell</h3>

    <%= form_for(@casting, url: {controller: 'castings', action: 'create'}) do |f| %>
      <%= f.hidden_field :spell_id, value: @spell.id %>

      <div class="flex-horizontal">
        <div class="subject-title">Primary subject:</div>
        <div><%= f.text_field :subject_1 %></div>
      </div>

      <div class="flex-horizontal">
        <% if @spell.binate %>
          <div class="subject-title">Secondary subject:</div>
          <div><%= f.text_field :subject_2 %><br></div>
        <% end %>
      </div>

      <%= f.submit "Cast", data: { confirm: "Are you sure? This action cannot be undone." } %>
    <% end %>
  <% else %>
    <%= @logged_in_user.items_required(@spell) %>
  <% end %>
<% end %>
