<% if @logged_in_user %>
  <h1>Summoning Circle</h1>

  <p>
    Welcome to the trade, traveler fair,
  </p>
  <p>
    From whence you were bade, we do not care.
  </p>
  <p>
    Sacred ingredients have glyphs you must draw,
  </p>
  <p>
    Choose glyphs wisely, or get nothing at all.
  </p>

  <div class="flex-horizontal">
    <%= form_tag possessions_path do %>
      <div class="flex-child">
        <%= text_field_tag :symbol %>
      </div>
      <div class="flex-child">
        <%= submit_tag "Summon"%>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>All items</h1>
<% end %>

<div>
  <p class="emoji" style="font-size:4em">
    <% if flash[:symbol] %>
      <%= flash[:symbol] %>
    <% end %>
  </p>
</div>

<ul>
  <% @items.each do |i| %>
    <li>
      <div class="flex-horizontal">
        <div class="flex-child even">
          <%= link_to i.name, i %>
        </div>

        <div class="flex-child even right">


          <% if @discoveries.include?(i) %>

            <%= button_to i.symbol, purchase_path, params: {item_id: i.id}, class: "linkbutton" %>

          <% else %>

            <%= button_to pluralize(i.price, "tokens"), purchase_path, params: {item_id: i.id} %>

          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
