<h1>All items</h1>


<% if @logged_in_user %>
  <h1>Purchase a new item</h1>
  
  <%= form_tag possessions_path do %>
    <%= text_field_tag :symbol %>
    <%= submit_tag "Purchase"%>
  <% end %>
<% end %>

  <p class="emoji" style="font-size:4em">
    <% if flash[:symbol] %>
      <%= flash[:symbol] %>
    <% end %>
  </p>


<ul>
  <% @items.each do |i| %>
    <li>
      <%= link_to i.name, i %>
    </li>
  <% end %>
</ul>
