<h1>Item page for <%= @item.name %></h1>

<h3>Spells that use <%= @item.name %>:</h3>

<ul>
  <% @item.spells.each do |s| %>
  <li>
    <%= link_to s.name, s %>
  </li>
  <% end %>
</ul>


<h3>
  <%= @item.name %> costs <%= pluralize(@item.price, "token") %>.
</h3>


<% if @logged_in_user && @logged_in_user.items.include?(@item) %>
  <p>
    You have <%= pluralize(@logged_in_user.possessions.find_by(item: @item).quantity, @item.name) %>.
  </p>
<% end %>

<%= button_to "Purchase?", purchase_path, params: {item_id: @item.id} %>
<%= button_to "All items", items_path, method: :get %>
