<h1>Item page for <%= @item.name %></h1>

<h3>Spells that use <%= @item.name %>:</h3>

<ul>
  <% @item.spells.each do |s| %>
  <li>
    <%= link_to s.name, s %>
  </li>
  <% end %>
</ul>

<% if @logged_in_user %>
  <%= form_for(@possession, url: {controller: 'possessions', action: 'create'}) do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.submit "Purchase #{@item.name}" %>
  <% end %>
<% end %>
