<!DOCTYPE html>
<html>
  <head>
    <title>WytchyWyccanWondyrs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'semantic', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-child">
          <%= link_to "Home", '/' %>
        </div>
        <div class="nav-child">
          <%= link_to "All users", users_path %>
        </div>
        <div class="nav-child">
          <%= link_to "All spells", spells_path %>
        </div>
        <div class="nav-child">
          <%= link_to "All items", items_path %>
        </div>
      </nav>

      <% if session[:user_id] %>
      <div class="user-nav">
        <%= render 'users/userinfo' %>
      </div>
      <% end %>
    </header>

    <main>
      <div class="notifications">
        <% if flash[:notice] %>
          <div class="flash-notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:error] %>
          <div class="flash-error">
            <%= flash[:error] %>
          </div>
        <% end %>
      </div>


      <%= render "breadcrumbs" unless @disable_breadcrumbs %>

      <%= yield %>
    </main>

  </body>
</html>
