<!DOCTYPE html>
<html>
  <head>
    <title>WytchyWyccanWondyrs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>

  <body>
    <% if session[:user_id] %>
      <div class="user-nav">
        <%= render 'users/userinfo' %>
      </div>
    <% end %>

    <main>
      <% if flash[:notice] || flash[:error] || flash[:spell] %>
        <div class="notifications">
          <% if flash[:spell] %>
            <div class="flash-spell">
              <%= flash[:spell] %>
            </div>
          <% end %>
          <% if flash[:notice] || flash[:discovery] %>
            <div class="flash-notice">
              <% if flash[:discovery] %>
                <%= flash[:discovery] %>
              <% else %>
                <%= flash[:notice] %>
              <% end %>
            </div>
          <% end %>
          <% if flash[:error] %>
            <div class="flash-error">
              <%= flash[:error] %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="bordered-div">
        <%= render "breadcrumbs" unless @disable_breadcrumbs %>
      </div>

      <div class="content bordered-div">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
